.logo {
    font-family: 'branding';
    font-size: 2em;
    width: 100%;
    text-align: center;
    text-shadow: 2px 2px blueviolet;
}
h2{
    color:blueviolet;
    font-family: 'branding';
    text-align: center;
    font-size: 1em;
}