
.page{
    text-align: center;
    pointer-events: none;
    font-family: 'highlights';
    color: blueviolet;
    animation: reveal 2s ease-out forwards;
    width: 100vw;
    position:absolute;
    pointer-events: none;
}

@keyframes reveal {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* PHONE RULES */
@media screen and ( max-width: 699px) {
    .page{
        width: 100%;
        line-height: .5em;
        bottom: -.25em;
    }
}

/* DESK RULES */
@media screen and ( min-width: 700px) {
    .page{
        font-size: 5em;
        bottom: -4rem;
    }
}