
.times > div {
    display: flex;
    align-items: center;
}
.times input{
    margin-left: .5em;
}
/* PHONE RULES */
@media screen and ( max-width: 699px) {
    .times > div{
        justify-content: center;
        width: 100%;
    }
}

/* DESK RULES */
@media screen and ( min-width: 700px) {

}