.eventDate{
    display: flex;
    align-items: center;
}


/* PHONE RULES */
@media screen and ( max-width: 699px) {
    .eventDate {justify-content: center;}
}

/* DESK RULES */
@media screen and ( min-width: 700px) {
    .eventDate input {
        margin-left: .5em;
    }
}