.menu{
    background-color: black;
}

.nav {
    position: absolute;
    top: 0;
    right: 0;
}

.group, .single{
    position:relative;
}

/* PHONE RULES */
@media screen and ( max-width: 699px) {
    .icon {
        height: 2rem;
    }
    .group {
        left: 1em;
    }
}

/* DESK RULES */
@media screen and ( min-width: 700px) {}