div.itemline{
    display: flex;
    justify-content: space-between !important;
    align-items: baseline;
    color: slateblue;
    width: 100%;
}

.name, .qty {
    display: flex;
}

.qty {
    justify-content: space-evenly;
}

.name {
    text-align: left;
}
.itemline > .name > p {
    justify-content: flex-start;
    font-weight: bold !important;
}
input.edit {
    width: 2em;
}

/* PHONE RULES */
@media screen and ( max-width: 699px) {
    .name {
        flex: 3
    }
    .qty {
        flex: 1
    }

}

/* DESK RULES */
@media screen and ( min-width: 700px) {}