.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position:absolute;
    pointer-events: none;
}

/* PHONE RULES */
@media screen and ( max-width: 699px) {
    .banner{
        bottom: -.5em;
    }
}

/* DESK RULES */
@media screen and ( min-width: 700px) {
    .banner {
        bottom: -2em;
    }
}