.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position:relative;
}

/* PHONE RULES */
@media screen and ( max-width: 699px) {
    .banner{
        top: -1em;
    }
}

/* DESK RULES */
@media screen and ( min-width: 700px) {
    .banner {
        top: -3em;
    }
}