
.summary{
    animation: slide-in 1s ease-out forwards 1s;
    font-weight: bold;
    transform: translateX(100%);
    opacity: 0;
    text-align: center;
    height: min-content;
}

@keyframes slide-in {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
/* PHONE RULES */
@media screen and ( max-width: 699px) {
    .summary{
        padding: 0 2em;
        width: 100%;
    }
}

/* DESK RULES */
@media screen and ( min-width: 700px) {
    .summary{
        font-size: 2.5em;
    }
}