
.preview > a{
    font-family: 'highlights';
    text-decoration: none;
}

.items {
    margin: 0 auto;
}
/* PHONE RULES */
@media screen and ( max-width: 699px) {
    .items {
        width: 80%;
    }

    .preview {
        margin: .5em 0;
        font-size: 1.5em;
    }
    
    .preview>a{
        text-shadow: 1px 1px blueviolet;
    }
}

/* DESK RULES */
@media screen and ( min-width: 700px) {
    .items {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 70vh;
        overflow: scroll;
    }

    .preview {
        margin: 1em;
        font-size: 2em;
        max-width: 45%;
    }

    .preview>a{
        text-shadow: 5px 5px blueviolet;
    }

}