.logo {
    pointer-events: none;
}

.livesound {
    position: relative;
    max-height: 90vh;
    overflow: scroll;
}

.livesound>h1 {
    font-family: 'Highlights';
    text-align: center;
    margin: auto;
    position: relative;
    width: 100%;
    color:blueviolet;
    pointer-events: none;
    z-index: 20;
}

.content {
    position:relative;
    min-height: 90vh;
    overflow: scroll;
}

.livesound h3{
    font-family: 'titles';
    color: mediumslateblue;
}

.content h2{
    font-family: 'highlights';
}

.service > h3, .premium > h3, .crew > h3 {
    text-transform: uppercase ;
    font-style: italic;
    text-align: left;
}

.main>h3{
    color: white;
}


/* PHONE RULES */
@media screen and ( max-width: 699px) {
    .content {
        margin: 0 .5em;
    }

    .main > h3 {
        text-align: center;
    }

    .short, .long {
        margin-left: 3em
    }

    .content h2, h3,h4 {
        font-size: 1.5em;
    }

    .livesound> h1{
        font-size: 2em;
    }
    
    .livesound{
        top: -56px;
    }

}

/* DESK RULES */
@media screen and ( min-width: 700px) {

    .livesound {
    padding-top: 3em;
    }

    .content h2{
        font-size: 3em;
    }
    
    h3, h4 {
        font-size: 2.5em;
    }
    
    .livesound> h1{
        font-size: 5em;
        top:-200px;
    }

}