.current div{
    display: flex;
    justify-content: space-around;
}

.current h3 {
    font-family: 'highlights';
    color: blueviolet;
}

/* PHONE RULES */
@media screen and ( max-width: 699px) {}

/* DESK RULES */
@media screen and ( min-width: 700px) {}