
.title{
    text-align: center;
    pointer-events: none;
    font-family: 'highlights';
    color: blueviolet;
    animation: reveal 2s ease-out forwards;
}

@keyframes reveal {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* PHONE RULES */
@media screen and ( max-width: 699px) {
    .title{
        width: 100%;
        line-height: .5em;
    }
}

/* DESK RULES */
@media screen and ( min-width: 700px) {
    .title{
        font-size: 5em;
        width: fit-content;
    }
}